<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <services>
      <register
        serviceType="Sitecore.Messaging.GatewayService.IGatewayBusServerRegistry, Sitecore.Messaging.GatewayService"
        implementationType="Sitecore.Messaging.GatewayService.GatewayBusServerRegistry, Sitecore.Messaging.GatewayService"
        lifetime="Singleton" />

      <register
        serviceType="System.Web.Http.ApiController, System.Web.Http"
        implementationType="Sitecore.Messaging.GatewayService.Controllers.GatewayController, Sitecore.Messaging.GatewayService"
        lifetime="Singleton" />

      <configurator type="Sitecore.Messaging.GatewayService.GatewayServiceConfigurator, Sitecore.Messaging.GatewayService" />
    </services>

        <!-- The GatewayService URL path, used to configure Sitecore to ignore requests bound for the service. -->
        <sc.variable name="Messaging.GatewayServiceUrlPrefix" value="/api/messaging" />

        <pipelines>
            <!-- Initializes the Web API configuration for the GatewayService. -->
            <initialize>
                <processor type="Sitecore.Messaging.GatewayService.InitializeMessagingWebApi, Sitecore.Messaging.GatewayService" resolve="true" />
            </initialize>
            
            <!-- Configures Sitecore to not process GatewayService requests as CMS requests. -->
            <preAuthenticateRequest>
                <processor type="Sitecore.Pipelines.HttpRequest.IgnoreList, Sitecore.Kernel">
                    <prefixes>
                        <Messaging.GatewayServiceUrlPrefix>$(Messaging.GatewayServiceUrlPrefix)</Messaging.GatewayServiceUrlPrefix>
                    </prefixes>
                </processor>
            </preAuthenticateRequest>

            <httpRequestBegin>
                <processor type="Sitecore.Pipelines.HttpRequest.IgnoreList, Sitecore.Kernel">
                    <prefixes>
                        <Messaging.GatewayServiceUrlPrefix>$(Messaging.GatewayServiceUrlPrefix)</Messaging.GatewayServiceUrlPrefix>
                    </prefixes>
                </processor>
            </httpRequestBegin>
        </pipelines>

        <Messaging>
            <GatewayService certificateAuthenticationEnabled="true">
                <!-- Configure named Rebus Gateway Server Message Buses here -->
                <Rebus>

        </Rebus>
      </GatewayService>
    </Messaging>
  </sitecore>
</configuration>