<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <services>
            <!-- Register a message handler -->
            <register
                serviceType="Sitecore.Framework.Messaging.IMessageHandler`1[[Sitecore.MyFeature.Messaging.Model.MyDomainMessage, Sitecore.MyFeature.Messaging.Model]],  Sitecore.Framework.Messaging.Abstractions"
                implementationType="Sitecore.MyFeature.Consumer.Handlers.MyHandler, Sitecore.MyFeature.Consumer"
                lifetime="Singleton" />
        </services>
        <Messaging>
            <GatewayService>
                <!-- Configure named Rebus Gateway Server Message Buses here -->
                <Rebus>
                    <MyFeature.MessageBuses.Default thumbprint="abcd1234">
                        <!-- Gateway server buses must be configured with a 'batch' transport.  Currently InMemoryBatch and SqlServerBatch
                           are available.  The settings for these are identical to the convential transports. -->
                        <Transport>
                            <SqlServerBatch>
                                <ConnectionStringOrName>messaging</ConnectionStringOrName>
                                <TableName>MyFeature-MessageQueues-Default</TableName>
                                <InputQueueName>MyFeature.MessageQueues.Default</InputQueueName>
                            </SqlServerBatch>
                        </Transport>

                        <Options>
                            <!-- If using Defer Strategies in message handlers, set MaxDeliveryAttempts to 1.-->
                            <SimpleRetryStrategy>
                                <ErrorQueueAddress>Error</ErrorQueueAddress>
                                <MaxDeliveryAttempts>1</MaxDeliveryAttempts>
                                <SecondLevelRetriesEnabled>false</SecondLevelRetriesEnabled>
                            </SimpleRetryStrategy>
                        </Options>

                        <!-- Log messages from the Rebus engine will be sent to the Sitecore logs. -->
                        <Logging Type="Sitecore.Messaging.SitecoreLoggerFactory, Sitecore.Messaging" />
                    </MyFeature.MessageBuses.Default>
                </Rebus>
            </GatewayService>
        </Messaging>
    </sitecore>
</configuration>