<?xml version="1.0" encoding="utf-8"?>
<!--
    
Purpose: This include file configures the Sitecore Processing Tasks API and injects it into the Sitecore DI Container.
   
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <processing.tasks.messaging>
      <Messaging>
        <Rebus>
          <!-- Message bus that is used to send messages about processing task registration. -->
          <Sitecore.Processing.Tasks.Messaging.Buses.TaskRegistrationProducer>
            <Transport>
              <SqlServer>
                <OneWay>false</OneWay>
                <ConnectionStringOrName>messaging</ConnectionStringOrName>
                <TableName>Sitecore_Transport</TableName>
                <!-- InputQueueName should be unique for CM/CD instance to handle response messages on the correct instance. -->
                <InputQueueName>SitecoreProcessingTaskRegistrationProducer_${MachineName}_${ProcessId}</InputQueueName>
              </SqlServer>
            </Transport>
            <Routing>
              <TypeBasedMappings>
                <TypeMappings>
                  <RegisterDistributedTaskMap>
                    <Type>Sitecore.Processing.Engine.Abstractions.Messages.RegisterDistributedTask, Sitecore.Processing.Engine.Abstractions</Type>
                    <DestinationQueue>SitecoreProcessingTaskRegistrationConsumer</DestinationQueue>
                  </RegisterDistributedTaskMap>
                  <RegisterDeferredTaskMap>
                    <Type>Sitecore.Processing.Engine.Abstractions.Messages.RegisterDeferredTask, Sitecore.Processing.Engine.Abstractions</Type>
                    <DestinationQueue>SitecoreProcessingTaskRegistrationConsumer</DestinationQueue>
                  </RegisterDeferredTaskMap>
                </TypeMappings>
              </TypeBasedMappings>
            </Routing>
            <Logging Type="Sitecore.Messaging.SitecoreLoggerFactory,Sitecore.Messaging"/>
          </Sitecore.Processing.Tasks.Messaging.Buses.TaskRegistrationProducer>
          <!-- Message bus that is used to send messages for requesting the progress of a task. -->
          <Sitecore.Processing.Tasks.Messaging.Buses.TaskProgressProducer>
            <Transport>
              <SqlServer>
                <OneWay>false</OneWay>
                <ConnectionStringOrName>messaging</ConnectionStringOrName>
                <TableName>Sitecore_Transport</TableName>
                <!-- InputQueueName should be unique for CM/CD instance to handle response messages on the correct instance. -->
                <InputQueueName>SitecoreProcessingTaskProgressProducer_${MachineName}_${ProcessId}</InputQueueName>
              </SqlServer>
            </Transport>
            <Routing>
              <TypeBasedMappings>
                <TypeMappings>
                  <TaskProgressRequestMap>
                    <Type>Sitecore.Processing.Engine.Abstractions.Messages.TaskProgressRequest, Sitecore.Processing.Engine.Abstractions</Type>
                    <DestinationQueue>SitecoreProcessingTaskProgressConsumer</DestinationQueue>
                  </TaskProgressRequestMap>
                </TypeMappings>
              </TypeBasedMappings>
            </Routing>
            <Logging Type="Sitecore.Messaging.SitecoreLoggerFactory,Sitecore.Messaging"/>
          </Sitecore.Processing.Tasks.Messaging.Buses.TaskProgressProducer>
        </Rebus>
      </Messaging>
      <!-- Task manager that is used to register processing tasks for execution. -->
      <taskManager type="Sitecore.Processing.Tasks.Messaging.TaskManager, Sitecore.Processing.Tasks.Messaging">
        <param name="taskManagerOptions" type="Sitecore.Processing.Tasks.Messaging.TaskManagerOptions, Sitecore.Processing.Tasks.Messaging">
          <!-- Timeout for task registration requests, given as a TimeSpan. Default value: 30 seconds. -->
          <param name="taskRegistrationTimeout" type="Sitecore.Processing.Common.ConfigurationHelper, Sitecore.Processing.Common" factoryMethod="ToTimeSpan" arg0="00:00:30" />
          <!-- Timeout for task progress requests, given as a TimeSpan. Default value: 30 seconds. -->
          <param name="taskProgressRequestTimeout" type="Sitecore.Processing.Common.ConfigurationHelper, Sitecore.Processing.Common" factoryMethod="ToTimeSpan" arg0="00:00:30" />
        </param>
        <param name="synchronizedTaskRegistrationBusContext" type="Sitecore.Processing.Tasks.Messaging.ISynchronizedMessageBusContext`1[[Sitecore.Framework.Messaging.IMessageBus`1[[Sitecore.Processing.Tasks.Messaging.Buses.TaskRegistrationProducer, Sitecore.Processing.Tasks.Messaging]], Sitecore.Framework.Messaging.Abstractions]], Sitecore.Processing.Tasks.Messaging" resolve="true" />
        <param name="synchronizedTaskProgressBusContext" type="Sitecore.Processing.Tasks.Messaging.ISynchronizedMessageBusContext`1[[Sitecore.Framework.Messaging.IMessageBus`1[[Sitecore.Processing.Tasks.Messaging.Buses.TaskProgressProducer, Sitecore.Processing.Tasks.Messaging]], Sitecore.Framework.Messaging.Abstractions]], Sitecore.Processing.Tasks.Messaging" resolve="true" />
      </taskManager>
    </processing.tasks.messaging>
    <services>
      <!-- Context of the message bus to synchronize task registration requests and task registration statuses. -->
      <register
        serviceType="Sitecore.Processing.Tasks.Messaging.ISynchronizedMessageBusContext`1[[Sitecore.Framework.Messaging.IMessageBus`1[[Sitecore.Processing.Tasks.Messaging.Buses.TaskRegistrationProducer, Sitecore.Processing.Tasks.Messaging]], Sitecore.Framework.Messaging.Abstractions]], Sitecore.Processing.Tasks.Messaging"
        implementationType="Sitecore.Processing.Tasks.Messaging.SynchronizedMessageBusContext`1[[Sitecore.Framework.Messaging.IMessageBus`1[[Sitecore.Processing.Tasks.Messaging.Buses.TaskRegistrationProducer, Sitecore.Processing.Tasks.Messaging]], Sitecore.Framework.Messaging.Abstractions]], Sitecore.Processing.Tasks.Messaging"
        lifetime="Singleton" />
      <!-- Context of the message bus to synchronize task progress requests and responses. -->
      <register
        serviceType="Sitecore.Processing.Tasks.Messaging.ISynchronizedMessageBusContext`1[[Sitecore.Framework.Messaging.IMessageBus`1[[Sitecore.Processing.Tasks.Messaging.Buses.TaskProgressProducer, Sitecore.Processing.Tasks.Messaging]], Sitecore.Framework.Messaging.Abstractions]], Sitecore.Processing.Tasks.Messaging"
        implementationType="Sitecore.Processing.Tasks.Messaging.SynchronizedMessageBusContext`1[[Sitecore.Framework.Messaging.IMessageBus`1[[Sitecore.Processing.Tasks.Messaging.Buses.TaskProgressProducer, Sitecore.Processing.Tasks.Messaging]], Sitecore.Framework.Messaging.Abstractions]], Sitecore.Processing.Tasks.Messaging"
        lifetime="Singleton" />
      <!-- Handler for task registration status messages. -->
      <register
        serviceType="Sitecore.Framework.Messaging.IMessageHandler`1[[Sitecore.Processing.Engine.Abstractions.Messages.TaskRegistrationStatus, Sitecore.Processing.Engine.Abstractions]], Sitecore.Framework.Messaging.Abstractions"
        implementationType="Sitecore.Processing.Tasks.Messaging.Handlers.TaskRegistrationStatusHandler, Sitecore.Processing.Tasks.Messaging"
        lifetime="Transient" />
      <!-- Handler for task progress request response messages. -->
      <register
        serviceType="Sitecore.Framework.Messaging.IMessageHandler`1[[Sitecore.Processing.Engine.Abstractions.Messages.TaskProgressResponse, Sitecore.Processing.Engine.Abstractions]], Sitecore.Framework.Messaging.Abstractions"
        implementationType="Sitecore.Processing.Tasks.Messaging.Handlers.TaskProgressResponseHandler, Sitecore.Processing.Tasks.Messaging"
        lifetime="Transient" />
      <!-- Configurator for task manager, defined in "processing.tasks.messaging/taskManager" section. -->
      <configurator type="Sitecore.Processing.Tasks.Messaging.Xmgmt.TaskManagerConfigurator, Sitecore.Processing.Tasks.Messaging.Xmgmt" />
      <!-- Configurator for Rebus, defined in "processing.tasks.messaging/Rebus" section. -->
      <configurator type="Sitecore.Processing.Tasks.Messaging.Xmgmt.RebusConfigurator, Sitecore.Processing.Tasks.Messaging.Xmgmt" />
    </services>
  </sitecore>
</configuration>
