<?xml version="1.0" encoding="utf-8"?>

<!--

Purpose: This include file configures the content testing messaging features of Sitecore.

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <processing.tasks.messaging>
      <Messaging>
        <Rebus>
          <!-- Message bus that is used to send messages for requesting the status of a task. -->
          <Sitecore.ContentTesting.Messaging.ModelTrainingTaskStatusProducer>
            <Transport>
              <SqlServer>
                <OneWay>false</OneWay>
                <ConnectionStringOrName>messaging</ConnectionStringOrName>
                <TableName>Sitecore_Transport</TableName>
                <InputQueueName>SitecoreContentTestingModelTrainingTaskStatusProducer_${MachineName}_${ProcessId}</InputQueueName>
              </SqlServer>
            </Transport>
            <Subscribers>
              <TypeMappings>
                <TaskStatusMapping>
                  <Type>Sitecore.Processing.Engine.Abstractions.Messages.TaskStatus, Sitecore.Processing.Engine.Abstractions</Type>
                  <PublisherQueue>TaskStatus</PublisherQueue>
                </TaskStatusMapping>
              </TypeMappings>
            </Subscribers>
            <Logging Type="Sitecore.Messaging.SitecoreLoggerFactory,Sitecore.Messaging"/>
          </Sitecore.ContentTesting.Messaging.ModelTrainingTaskStatusProducer>
        </Rebus>
      </Messaging>
    </processing.tasks.messaging>
    <services>
      <register
        serviceType="Sitecore.Framework.Messaging.IMessageHandler`1[[Sitecore.Processing.Engine.Abstractions.Messages.TaskStatus, Sitecore.Processing.Engine.Abstractions]], Sitecore.Framework.Messaging.Abstractions"
        implementationType="Sitecore.ContentTesting.Messaging.ModelTrainingTaskStatusMessageHandler, Sitecore.ContentTesting"
        lifetime="Transient" />
    </services>
  </sitecore>
</configuration>